:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #21333e;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base: 8px;
  --primary: #1fa3ec;
  --primary-light: #6cb2f3;
  --success: #47c266;
  --success-light: #96cba3;
  --error: #d43535;
  --error-light: #df9292;
}

h3 {
  font-weight: 500;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 0;
  border-radius: 0.3rem;
  background: var(--primary);
  color: #faffff;
  line-height: 2.4em;
  font-size: 1em;
  padding: 0 0.5em;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: var(--primary-light);
  }
}

* {
  box-sizing: border-box;
}

input[type="text"],input[type="number"] {
  padding: calc(var(--base) / 2) var(--base);
  font-size:18px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grow-1 {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: var(--base);
}
.gap-2 {
  gap: calc(var(--base)*2);
}
.gap-3 {
  gap: calc(var(--base)*3);
}
.gap-4 {
  gap: calc(var(--base)*4);
}
.gap-5 {
  gap: calc(var(--base)*5);
}
.mt-2 {
  margin-top: calc(var(--base) * 2);
}
.mt-4 {
  margin-top: calc(var(--base) * 4);
}
.text-center {
  text-align: center;
}
.text-nowrap {
  white-space: nowrap;
}
.hidden {
  display: none;
}

.toggle {
  /* .toggle-label {
    text-align: center;
  } */

  .btn {
    margin: 0 auto;
  }
}

.btn {
  width: 125px;
  height: 250px;
  overflow: hidden;
  border-radius: 16px;
  padding: 8px;
  position: relative;
  background: #fff;

  .btn-checkbox {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .btn-track {
    position: relative;
    width: 100%;
    height: 100%;
    background: #adadad;
    border-radius: 8px;
  }

  .btn-knob {
    position:absolute;
    background: #555555;
    height: 50%;
    width: 100%;
    border-radius: 8px;
    top: 25%;
    transition: top 0.3s cubic-bezier(0.79, -0.02, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '?';
      display: block;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.btn-checkbox[data-inited="true"]:checked + .btn-track {
  background: var(--success-light);

  .btn-knob {
    top: 0;
    background-color: var(--success);

    &::before {
      content: 'ON';
    }
  }
}

.btn-checkbox[data-inited="true"]:not(:checked) + .btn-track {
  background: var(--error-light);

  .btn-knob {
    top: 50%;
    background-color: var(--error);

    &::before {
      content: 'OFF';
    }
  }
}

.telemetry {
  /* justify-content: space-between; */

  .telemetry-item {
    flex-basis: 30%;
  }

  .telemetry-value {
    font-weight: 800;
    font-size: 32px;
    white-space: nowrap;
  }

  .telemetry-value::after {
    display: inline-block;
    font-size: 0.5em;
    margin-left: 0.2em;
    color: rgba(255, 255, 255, 0.8);
  }

  /* .telemetry-label {} */
}

.volts::after {
  content: "V";
}

.amps::after {
  content: "A";
}

.kW::after {
  content: "kW";
}

.kWh::after {
  content: "kW·h";
}

.mA::after {
  content: "mA";
}

.seconds::after {
  content: "s";
}

.balance-topup {
  background: var(--primary);
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background: #91bee9;
  }
}

.device-status {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  padding: calc(var(--base) * 2) calc(var(--base) * 3);
  border-radius: calc(var(--base) / 2);
  background: var(--error);

  &::before {
    content: '⚠️';  /* ⚠️ */
    margin-right: 0.5em;
  }
}

.switch-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.switch {
  display: inline;
  font-size: 24px;
  height: 1em;
  width: 2em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .switch-knob {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #fff;
    transition: all 300ms;
    position: relative;
    z-index: 2;
  }

  .switch-track {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: #BDB9A6;
  }

  & input {
    position: absolute;
    opacity: 0;

    &:checked {
      & ~ .switch-knob {
        transform: translate3d(100%, 0, 0);
      }

      & ~ .switch-track {
        background: var(--primary);
      }
    }
  }
} 

.settings {
  justify-content: space-between;
}

.settings-item {
  flex-basis: 30%;
  & span {
    color: rgba(255, 255, 255, 0.6);
  }
}